<h1>Projects Index</h1>
<div id="projects-list">
  <div id="project-header">
    <%= link_to "New Project", new_project_path %>
  </div>
  <% @projects.each do |project| %>
    <div class="project">
      <h3 class="project-title"><%= link_to project.title, project_path(project) %></h3>
      <p class="project-description"><%= project.description %></p>
      <%= link_to "edit", edit_project_path(project) %>
    </div>
  <% end %>
</div>
